p {
    padding: 0;
    margin: 0;
}

form {
    width: 350px;
    margin-right: 20px;
}

select {
    font-size: 16px;
    margin-left: 5px;
}

img {
    margin-right: 15px;
}
#main {
    text-align: center;
    padding-top: 80px;
    font-family: 'Garamond', serif;
    background-color: #F0F8FF;
    height: 635px;
}

#search {
    margin-right: 100px;
    float: right;

}

#state {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-top: 5px;
    font-size: 20px;
}

.box {
    border: 2px solid rgb(88, 157, 235);
    border-radius: 20%;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 40px;
}

.container_dados {
    display: flex;
    margin: 0;
    font-weight: bolder;
    font-size: 40px;

}
.clima_temp {
    padding-left: 10px;
}

.cont2 {
    justify-content: space-around;
}
.img {
    position: relative;
    height: 60px;
    top: 25px;
}

.min_max {
    display: flex;
    flex-direction: column;
}

.min_max_img {
    position: relative;
    top: 10px;
    height: 40px;
}

.img_quente {
    margin-bottom: 15px;
}