<div id="main">
    <div id="search">

        <div class="d-flex" role="search">
            <input class="form-control me-2" placeholder="Cidade" [(ngModel)]="cidade" 
            (keyup.enter)="this.getWeather(cidade, estado)">
            <button class="btn btn-outline-success" (click)="this.getWeather(cidade, estado)"
            >Procurar</button>
        </div>
        <div id="state">
            <label for="Estado">Estado</label>
            <select name="Estado" id="Estado" [(ngModel)]="estado">
                <option value="acre">Acre</option>
                <option value="alagoas">Alagoas</option>
                <option value="amapa">Amapá</option>
                <option value="amazonas">Amazonas</option>
                <option value="bahia">Bahia</option>
                <option value="ceara">Ceará</option>
                <option value="distrito%20federal">Distrito Federal</option>
                <option value="espirito%20santo">Espírito Santo </option>
                <option value="goias">Goiás</option>
                <option value="maranhao">Maranhão</option>
                <option value="mato%20grosso">Mato Grosso</option>
                <option value="mato%20grosso%20do%20sul">Mato Grosso do Sul</option>
                <option value="minas%20gerais">Minas Gerais</option>
                <option value="para">Pará</option>
                <option value="paraiba">Paraíba</option>
                <option value="parana">Paraná</option>
                <option value="pernambuco">Pernambuco</option>
                <option value="piaui">Piauí</option>
                <option value="rio%20de%20janeiro">Rio de Janeiro</option>
                <option value="rio%20grande%20do%20norte">Rio Grande do Norte</option>
                <option value="rio%20grande%20do%20sul">Rio Grande do Sul</option>
                <option value="rondonia">Rondonia</option>
                <option value="roraima">Roraima</option>
                <option value="santa%20catarina">Santa Catarina</option>
                <option value="sao%20paulo">São Paulo</option>
                <option value="sergipe">Sergipe</option>
                <option value="tocantins">Tocantins</option>
            </select>
        </div>
    </div>

    <div class="container">
        <img src="{{tempo.img}}" alt="">
        
        <div class="clima_temp">
            <p>Cidade: {{name}}</p>
            <p>Clima: {{tempo.description}} </p>
            <p>Temperatura: {{temperatura.temp}}ºC</p>
        </div>
    </div>

    <div class="container cont2">
        <div class="container_dados box">
            <div class="min_max min_max_img">
                <img class="img_quente" src="assets/quente-40.png" alt="">
                <img src="assets/frio-40.png" alt="">
            </div>
            <div class="min_max">
                <p>{{temperatura.temp_max}}ºC</p>
                <p>{{temperatura.temp_min}}ºC</p>
            </div>
        </div>

        <div class="container_dados box">
            <img src="assets/umidade-60.png" alt="">
            <p>{{temperatura.humidity}}%</p>
        </div>

        <div class="container_dados box">
            <img src="assets/vento-60x60.png" alt="img_vento">
            <p>{{vento.speed}}Km/h</p>
        </div>

    </div>
</div>