.all {
    background-image:url(src\assets\background_img.jpg);
    background-repeat:repeat-y;
    background-size:contain;
    background-position: center center;
    padding-top: 60px;
    padding-bottom: 40px;
}
