nav {
    background: linear-gradient(#434343 0%, black 100%);
    display: flex;
    border: solid 2px rgb(136, 131, 131);
    justify-content: space-around;
    font-size: 1rem;
    font-family: "Arial",cursive;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 50px;
}

label {
    align-self: center;
    max-height: 50px;
    white-space: nowrap;
}

.title {
    font-size: clamp(1.5rem, 5vw, 2rem); 
    margin-left: 20px;
}

.projetos {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 1.5rem); 
}

.projetos:hover {
    color: rgb(255, 255, 255);
    cursor: default;
}

ul{
    display: flex;
    padding-top: 1em;
    position: relative;
    list-style: none;
    user-select: none;
    align-items: center;
}

ul li {
    margin-inline: 40px;
}

label {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

label:hover {
    color: rgb(161, 161, 161);
    text-shadow: white;
}

input:checked ~ label{
    color: rgb(161, 161, 161);
    text-shadow: white;
}

.menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    user-select: none;
}
.menu path{
    fill: rgb(255, 255, 255) ;
}

.menu:hover path {
    fill: rgb(161, 161, 161);
}

#check {
    color: rgb(161, 161, 161);
}
input {
    display: none;
}

@media screen and (max-width: 1158px) {

    .title {
        margin-left: 0;
    }

    .projetos {
        display: none;
    }

    .menu {
        display: block;
    }

    ul {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(#434343 0%, black 100%);
        top: 50px;
        left: -100%;
        text-align: center; 
        transition: all 0.5s;
    }

    ul li {
        margin: 50px 0;
        line-height: 30px;
    }
    

    #check:checked ~ ul{
        left: 0;
    }
}