<div class="principal">
    <h1>
        Um pouco sobre mim:
    </h1>
    <div class="container">

            <img class="img" src="assets/foto_minha_cartoon.png" alt="">

        <div class="line"></div>

        <div class="txt1">   
            <p class="sub_title">
                Quem é Gabriel?
            </p>
            
            <p>
            Gabriel é uma pessoa extremamente amigável, comunicativo, criativo e persistente, que adora conhecer novas
            pessoas e aprender com elas. Amante de tecnologia e sua capacidade de auxiliar a vida das pessoas.
            </p>
        </div>

    </div>
    <div class="txt2">
        <p class="sub_title">
            Minha breve história na área de tecnologia.
        </p>
        
        <p>
            Meu primeiro contato profissional com a área foi ao realizar um curso de eletroeletrônica no ensino médio, além de aprender 
            sobre eletrônica tive contato com programação com a linguagem C, foi um contato breve com o qual gostei de mexer mas não dei a devida importância. Após muitos anos tive outro contato com programação (desta vez uma linguagem mais simples) durante minha passagem no curso tecnólogo na área de gestão empresarial, desta vez com EXCEL, de primeira já tive muita facilidade de aprender e aplicar a lógica de programação sem nem ao menos saber o que era, e desde então me despertou vontade de aprender sobre, mas foi somente no ano de 2022 que iniciei meus estudos na área, e desde então venho estudando e aprendendo cada vez mais sobre as ferramentas e tecnologias que podem facilitar a minha vida e a de outras pessoas.
        </p>
    </div>

</div>

