<div class="principal">
    <h1>
        Um pouco sobre mim:
    </h1>
    <div class="container">

            <img class="img" src="assets/foto_minha_cartoon.png" alt="">

        <div class="line"></div>

        <div class="txt1">   
            <p class="sub_title">
                Quem é Gabriel?
            </p>
            
            <p>
            Gabriel é uma pessoa extremamente amigável, comunicativo, criativo e persistente, que adora conhecer novas
            pessoas e aprender com elas. Amante de tecnologia e sua capacidade de auxiliar a vida das pessoas.
            </p>
        </div>

    </div>
    <div class="txt2">
        <p class="sub_title">
            Minha breve história na área de tecnologia.
        </p>
        
        <p>
            Meu primeiro contato profissional com a área, foi com a linguagem C, que fazia parte da grade curricular 
            do curso de Eletroeletrônica que iniciei durante o ensino médio. Foi um breve contato, porém me 
            identifiquei muito com a matéria, mas não me aprofundei nela, porque o foco era o curso em si, 
            não a matéria que apresenta uma introdução sobre o assunto. Algum tempo depois, quando iniciei 
            minha graduação na área de Gestão Empresarial, tive outro contato com o campo de programação, 
            agora com o EXCEL (que apesar de ser uma linguagem mais simples possui uma boa quantidade de lógica), 
            foi então que me despertou a vontade de aprender sobre programação, porém foi somente em 2022 que iniciei 
            meus estudos na área, e desde então venho aprendendo sobre as ferramentas e tecnologias, e assim podendo 
            simplificar mais a vida das pessoas.
    </div>

</div>

