<div id="main">
    <h1 id="titulo">Cadastro de usuário</h1>
    <p id="subtitulo">Preencha as informações</p>
    <form class="form" [formGroup]="formulario">

        <fieldset class="grupo">
            <div class="dado">
                <label for="nome">Nome</label>
                <input type="text" name="nome" formControlName="nome" required>
            </div>
            <div class="dado">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" name="sobrenome" formControlName="sobrenome" required>
            </div>
        </fieldset>

        <fieldset class="grupo">
            <div class="dado">
                <label for="idade">Idade</label>
                <input type="number" name="idade" formControlName="idade" required>
            </div>
        </fieldset>

        <fieldset class="grupo">
            <div class="dado">
                <label for="profissao">Profissão</label>
                <input type="text" name="profissao" formControlName="profissao" required>
            </div> 

            <div class="dado">
                <label for="email">E-mail</label>
                <input type="text" name="email" formControlName="email" required>
            </div>
        </fieldset>
        <button type="submit" class="button" (click)="enviarFormulario()" routerLink="/crud">Concluir</button>
        
    </form>
</div>